alembic==0.8.3
bcrypt==2.0.0
blinker==1.4
docker-py==1.5.0
Flask-Login==0.2.11  # Only required until https://github.com/mattupstate/flask-security/pull/429
Flask-Mail==0.9.1
Flask-Migrate==1.7.0
-e git+https://github.com/RickyCook/Flask-OAuthlib@75c870b#egg=Flask-OAuthlib
Flask-RESTful==0.3.4
Flask-Script==2.0.5
Flask-Security==1.7.4
Flask-SQLAlchemy==2.0
Flask==0.10.1
gunicorn==19.3.0
hiredis
pika==0.10.0
psycopg2==2.6.1
py==1.4.30
PyJWT==1.4.0
python-redis-lock==2.3.0
PyYAML==3.11
redis==2.10.5
rollbar==0.11.0
semver==2.2.1
SQLAlchemy==1.0.8
yaml-model==0.1.5
