<table class="col-sm-12 table table-striped">
  <thead><tr class="row"><th>
    <div class="col-sm-2">Display name</div>
    <div class="col-sm-2">Base name</div>
    <div class="col-sm-2">Username</div>
    <div class="col-sm-2">Password</div>
    <div class="col-sm-2">Email</div>
    <div class="col-sm-1">Insecure</div>
  </th></tr></thead>
  <tbody>
  <!-- ko foreach:registries -->
    <!-- ko component: {
        name: "config-registry-row"
      , params: {
          registry: $data
        , editMode: false
        , messages: $parent.pageModel.messages
        , regList: $parent.registries
      }
    } --><!-- /ko -->
  <!-- /ko -->

  <!-- ko if:registries().length < 1 && !loading() -->
    <tr><td style="text-align: center">
      No registries
    </td></tr>
  <!-- /ko -->

  <!-- ko if:loading -->
    <tr><td>
      <loading-bar></loading-bar>
    </td></tr>
  <!-- /ko -->

  <!-- ko component: {
      name: "config-registry-row"
    , params: {
        registry: newRegistry
      , editMode: true
      , messages: pageModel.messages
      , regList: registries
    }
  } --><!-- /ko -->
  </tbody>
</table>
