<tr class="row"><td>

  <!-- ko ifnot:editMode -->
  <div class="col-sm-2" data-bind="text:registry().display_name() || ''" ></div>
  <div class="col-sm-2" data-bind="text:registry().base_name() || ''" ></div>
  <div class="col-sm-2" data-bind="text:registry().username() || ''" ></div>
  <div class="col-sm-2" class="text-muted">hidden</div>
  <div class="col-sm-2" data-bind="text:registry().email() || ''" ></div>
  <div class="col-sm-1" data-bind="text:registry().insecure() ? 'yes' : 'no'" ></div>
  <div class="col-sm-1"><button class="btn btn-sm btn-danger" data-bind="click:remove, disable:saving">
    <span data-bind="visible: !saving()"><i class="glyphicon glyphicon-trash"></i></span>
    <span data-bind="visible: saving"><i class="glyphicon glyphicon-refresh spin"></i></span>
  </button></div>
  <!-- /ko -->

  <!-- ko if:editMode -->
  <form data-bind="submit:save"><fieldset data-bind="disable:saving">
    <div class="col-sm-2"><input placeholder="Display name" data-bind="value:registry().display_name" /></div>
    <div class="col-sm-2"><input placeholder="Base name" data-bind="value:registry().base_name" /></div>
    <div class="col-sm-2"><input placeholder="Username" data-bind="value:registry().username" /></div>
    <div class="col-sm-2"><input placeholder="Password" data-bind="value:registry().password" /></div>
    <div class="col-sm-2"><input placeholder="Email" data-bind="value:registry().email" /></div>
    <div class="col-sm-1"><input type="checkbox" data-bind="checked:registry().insecure" /></div>
    <div class="col-sm-1"><button class="btn btn-sm btn-success" data-bind="disable:saving() || !savable()" type="submit">
      <span data-bind="visible: !saving()"><i class="glyphicon glyphicon-ok"></i></span>
      <span data-bind="visible: saving"><i class="glyphicon glyphicon-refresh spin"></i></span>
    </button></div>
  </fieldset></form>
  <!-- /ko -->

</td></tr>
