<!-- TODO expand/contract -->
<div class="stage-panel panel" data-bind="
  css: {
      'panel-success': success() === true
    , 'panel-danger': success() === false
    , 'panel-info': util.isEmpty(success())
  }
">
  <div class="panel-heading" data-bind="text:slug"></div>
  <div class="panel-body stage-log" data-bind="foreach:lines">
    <!-- ko if: typeof($data) === 'string' -->
      <div class="stage-line-text" data-bind="text:$data"></div>
    <!-- /ko -->
    <!-- ko if: typeof($data) !== 'string' -->
      <!-- ko component: {
          name: $data['component']
        , params: $data['params']
      } --><!-- /ko -->
    <!-- /ko -->
  </div>
</div>
