<div style="position:relative">
  <div style="position:absolute; top: 0px; right: 0px">
    <a title="Cached" class="glyphicon glyphicon-floppy-saved" data-bind="visible:cached"></a>
    <a title="Error" class="glyphicon glyphicon-warning-sign text-danger" data-bind="visible:error"></a>
    <a data-bind="toggle: visible">
      <i class="glyphicon" data-bind="
        css: {
            'glyphicon-chevron-down': !visible()
          , 'glyphicon-chevron-up': visible
        }
      "></i>
    </a>
  </div>
  <!-- ko if: visible -->
    <!-- ko foreach: lines -->
      <!-- ko if: $index() === 0 -->
        <div><a data-bind="
            html: ansi_up.ansi_to_html(_.escape(stream) || '&nbsp;')
          , toggle: $parent.visible
          , css: { 'text-danger': $parent.error }
        " class="build-stage-title"></a></div>
      <!-- /ko -->
      <!-- ko ifnot: $index() === 0 -->
        <!-- ko if: typeof($data['error']) !== 'undefined' -->
          <div class="alert alert-danger" data-bind="text: error"></div>
        <!-- /ko -->
        <!-- ko if: typeof($data['stream']) !== 'undefined' -->
          <div data-bind="
              html: ansi_up.ansi_to_html(_.escape(stream)) || '&nbsp;'
          "></div>
        <!-- /ko -->
      <!-- /ko -->
    <!-- /ko -->
  <!-- /ko -->
  <!-- ko if: !visible() -->
    <div>
      <a data-bind="
          html: ansi_up.ansi_to_html(_.escape(lines()[0]['stream']) || '&nbsp;')
        , toggle: visible
        , css: { 'text-danger': error }
      " class="build-stage-title"></a>
    </div>
  <!-- /ko -->
</div>

<div class="clearfix"></div>
