<div class="pull-right">
  <a title="Cached" class="glyphicon glyphicon-floppy-saved" data-bind="visible:cached"></a>
  <a data-bind="toggle: visible">
    <i class="glyphicon" data-bind="
      css: {
          'glyphicon-chevron-down': !visible()
        , 'glyphicon-chevron-up': visible
      }
    "></i>
  </a>
</div>
<table><tbody>
  <!-- ko if: visible -->
    <!-- ko foreach: lines -->
      <tr><td>
        <!-- ko if: $index() === 0 -->
          <a data-bind="
              html: ansi_up.ansi_to_html(_.escape(stream) || '&nbsp;')
            , toggle: $parent.visible
          " class="build-stage-title"></a>
        <!-- /ko -->
        <!-- ko ifnot: $index() === 0 -->
          <span data-bind="
              html: ansi_up.ansi_to_html(_.escape(stream) || '&nbsp;')
          "></span>
        <!-- /ko -->
      </td></tr>
    <!-- /ko -->
  <!-- /ko -->
  <!-- ko if: !visible() -->
    <tr><td>
      <a data-bind="
          html: ansi_up.ansi_to_html(_.escape(lines()[0]['stream']) || '&nbsp;')
        , toggle: visible
      " class="build-stage-title"></a>
    </td></tr>
  <!-- /ko -->
</tbody></table>

<div class="clearfix"></div>
