<ul class="list-group" data-bind="foreach:messages">
    <li class="list-group-item" data-bind="text:message_display, css:category_css"></li>
</ul>
<loading-bar params="visible: loading"></loading-bar>
<div class="form-horizontal bs-component" role="form" action="" id="projectForm" method="POST" data-bind="visible:!loading()">
  <div class="form-group">
    <label class="col-sm-2 control-label">Repo type</label>
    <div class="col-sm-10">
      <div class="btn-group form-group" data-toggle="buttons" data-bind="radio: currentTab">
          <!-- ko if: gitlabEnabled -->
          <label class="btn btn-default">
              <input type="radio" name="currentTab" value="gitlab" />
              GitLab
          </label>
          <!-- /ko -->
          <!-- ko if: githubEnabled -->
          <label class="btn btn-default">
              <input type="radio" name="currentTab" value="github" />
              GitHub
          </label>
          <!-- /ko -->
          <label class="btn btn-default">
              <input type="radio" name="currentTab" value="manual" />
              Manual
          </label>
      </div>
    </div>
  </div>
  <!-- ko if: gitlabEnabled -->
  <div data-bind="visible: currentTab() === 'gitlab'">
    <div class="form-group">
      <label for="inputName" class="col-sm-2 control-label">Settings from</label>
      <!-- ko if: !isNew() -->
        <p class="col-sm-10 form-control-static" data-bind="text: project().gitlab_repo_id"></p>
      <!-- /ko -->
      <!-- ko if: isNew() -->
        <div class="col-sm-10">
          <external-repos-list params="
              trigReload: trigGitlabReload
            , cancelReload: trigCancelGitlabReload
            , action: gitlabAction
            , columnSize: 5
            , reload: gitlabDefault
            , redirect: redirect
            , repoSource: 'gitlab'
          "></external-repos-list>
        </div>
      <!-- /ko -->
    </div>
  </div>
  <!-- /ko -->
  <!-- ko if: githubEnabled -->
  <div data-bind="visible: currentTab() === 'github'">
    <div class="form-group">
      <label for="inputName" class="col-sm-2 control-label">Settings from</label>
      <!-- ko if: !isNew() -->
        <p class="col-sm-10 form-control-static" data-bind="text: project().github_repo_id"></p>
      <!-- /ko -->
      <!-- ko if: isNew() -->
        <div class="col-sm-10">
          <external-repos-list params="
              trigReload: trigGithubReload
            , cancelReload: trigCancelGithubReload
            , action: githubAction
            , columnSize: 5
            , reload: githubDefault
            , redirect: redirect
            , repoSource: 'github'
          "></external-repos-list>
        </div>
      <!-- /ko -->
    </div>
  </div>
  <!-- /ko -->
  <div data-bind="visible: project().isType('manual')">
    <div class="form-group">
      <label for="inputRepo" class="col-sm-2 control-label">Git Repository</label>
      <div class="col-sm-10">
        <input required class="form-control" id="inputRepo" name="repo" placeholder="https://your.repo.url" data-bind="value:project().repo">
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="inputSlug" class="col-sm-2 control-label">Slug</label>
    <div class="col-sm-10">
      <div data-bind="visible:isNew">
        <input required class="form-control" id="inputSlug" name="slug" placeholder="Slug" data-bind="value:project().slug">
        <span class="help-block">Must only contain lowercase letters, numbers, and characters <code>_</code>, <code>-</code>, or <code>.</code></span>
      </div>
      <div data-bind="visible:!isNew()">
        <p class="form-control-static" data-bind="text:project().slug"></p>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="inputName" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <input required class="form-control" id="inputName" name="name" placeholder="Name" data-bind="value:project().name">
    </div>
  </div>
  <div class="form-group">
    <label for="inputTargetRegistry" class="col-sm-2 control-label">Target registry</label>
    <div class="col-sm-10">
      <!-- ko ifnot: loadingRegistries -->
      <select class="form-control" data-bind="
          options: registries
        , optionsText: 'displayText'
        , optionsCaption: 'Disabled'
        , value: project().target_registry
        , valueAllowUnset: true
      "></select>
      <!-- /ko -->
      <!-- ko if: loadingRegistries -->
        <loading-bar params="visible: loadingRegistries"></loading-bar>
      <!-- /ko -->
      <!-- <input required class="form-control" id="inputTargetRegistry" name="target_registry" placeholder="Name" data-bind="value:project().target_registry"> -->
    </div>
  </div>
  <div class="form-group">
    <label for="inputGithubSecret" class="col-sm-2 control-label">GitHub Webhook Secret</label>
    <div class="col-sm-10">
      <input class="form-control" id="inputGithubSecret" name="github_secret" data-bind="value:project().github_secret, attr: { placeholder: secretsPlaceholder }">
      <span class="help-block" data-bind="visible: currentTab() === 'github' && !isNew()">Changing this value will not update GitHub</span>
    </div>
  </div>
</div>
