<form data-bind="submit: saveProject">
  <div data-bind="modal: {
      visible: visible,
      dialogCss: 'modal-lg',
      header: { data: { label: title } },
      body: { name: 'project-edit-dialog-body' },
      footer: { name: 'project-edit-dialog-footer', data: {
            saving: saving
          , saveLabel: saveLabel
      }}
  }"></div>
</form>
<script type="text/html" id="project-edit-dialog-body">
  <div data-bind="if: $parent.visible">
    <project-edit params="project: $parent.project,
                          messages: $parent.messages,
                          gitlabDefault: $parent.gitlabDefault,
                          githubEnabled: $parent.githubEnabled,
                          githubDefault: $parent.githubDefault,
                          isNew: $parent.isNew" />
  </div>
</script>
<script type="text/html" id="project-edit-dialog-footer">
  <button type="submit" class="btn btn-primary" data-bind="disable: saving">
    <span data-bind="visible: !saving(), html: saveLabel"></span>
    <span data-bind="visible: saving"><i class="glyphicon glyphicon-refresh spin"></i></span>
  </button>
  <a href="#" class="btn btn-default" data-dismiss="modal">Cancel</a>
</script>
