<!doctype html>
{% macro header_button(img, link) -%}
  <a class="btn btn-default btn-lg" href="{{ link }}">
    <i class="mdi-{{ img }}"></i>
  </a>
{%- endmacro %}
{% macro build_state_glyph(state) -%}
  <i class="{%- if state == 'success' -%}mdi-action-thumb-up mdi-success
            {%- elif state == 'fail' -%}mdi-action-thumb-down mdi-warning
            {%- elif state == 'error' -%}mdi-alert-warning mdi-danger
            {%- elif state == 'running' -%}mdi-av-play-arrow mdi-info
            {%- elif state == 'queued' -%}mdi-av-timer mdi-material-grey
            {%- else -%}mdi-action-help mdi-info
            {%- endif -%}" title="{{ state | title }}"></i>
{%- endmacro %}

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>DockCI - {% block title %}{% endblock %}</title>
  <meta name="author" content="Ricky Cook">

  <link rel="stylesheet" href="/static/lib/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/lib/css/material.min.css">
  <link rel="stylesheet" href="/static/lib/css/ripples.min.css">

  <script src="/static/lib/js/jquery.min.js"></script>
  <script src="/static/lib/js/tab.js"></script>
  <script src="/static/lib/js/ansi_up.js"></script>
  <script src="/static/lib/js/material.min.js"></script>
  <script src="/static/lib/js/ripples.min.js"></script>
</head>

<body>
  <!-- Fixed navbar -->
  <div class="navbar" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">DockCI</a>
      </div>
      <p class="navbar-right">
        {% if not config.model.exists() %}<i class="navbar-brand mdi-alert-warning mdi-error"></i>{% endif %}
        {% if config.model.restart_needed %}<i class="navbar-brand mdi-alert-warning mdi-warning"></i>{% endif %}
        <a class="btn btn-default navbar-btn" href="/config"><i class="mdi-action-settings"></i></a>
      </p>
    </div>
  </div>
  <div class="container" role="main" style="position: relative">
    <div class="page-header"><h1>{% block header %}{% endblock%}</h1></div>
    {% with messages = get_flashed_messages(with_categories=true) %}{% if messages %}
      <ul class="list-group">{% for category, message in messages %}
        <li class="list-group-item list-group-item-{{ category }}" role="alert">
          <strong>{{ category | title }}!</strong> {{ message }}
        </li>
      {% endfor %}</ul>
    {% endif %}{% endwith %}
    {% block content %}{% endblock %}
  </div>
  <script>
    $.material.init()
    $.material.ripples()
    $.material.input()
    $.material.checkbox()
    $.material.radio()
  </script>
</body>
</html>
