{% extends "_base.html" %}
{% block title %}Global Configuration{% endblock %}
{% block header %}Global Configuration{% endblock %}
{% block content %}
{% if not config.model.exists() -%}
  <div class="alert alert-danger" role="alert">Persistent config file does not exist. These settings should be saved.</div>
{%- endif %}
{% if config.model.restart_needed -%}
  <div class="alert alert-warning" role="alert">Warning! An application restart is required for some changes to take effect.</div>
{%- endif %}
<form class="form-horizontal" role="form" action="/config" method="POST">
  <div class="panel panel-default">
    <div class="panel-heading">Security</div>
    <div class="panel-body">
      <div class="form-group">
        <label for="inputSecret" class="col-sm-2 control-label">Sessions secret</label>
        <div class="col-sm-10">
          <input class="form-control" id="inputSecret" name="secret" value="{{ config.model.secret or '' }}">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
          <div class="checkbox">
            <label for="inputSecurityReg">
              <input id="inputSecurityReg" name="security_registerable" type="checkbox" {{ 'checked' if config.model.security_registerable else '' }}>
              Allow user registration
            </label>
          </div>
          <div class="checkbox">
            <label for="inputSecurityReset">
              <input id="inputSecurityReset" name="security_recoverable" type="checkbox" {{ 'checked' if config.model.security_recoverable else '' }}>
              Allow password resets
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">Docker Daemon</div>
    <div class="panel-body">
      <div class="form-group">
        <div class="checkbox col-sm-10  col-sm-offset-2">
          <label for="inputUseEnvVars">
            <input id="inputUseEnvVars" name="docker_use_env_vars" type="checkbox" {{ 'checked' if config.model.docker_use_env_vars else '' }}>
            Use environment variables
          </label>
        </div>
      </div>
      <div class="form-group">
        <label for="inputDockerHosts" class="col-sm-2 control-label">Docker hosts</label>
        <div class="col-sm-10">
          <textarea class="form-control" id="inputDockerHosts" name="docker_hosts">{{
            config.model.docker_hosts | join('\n')
          }}</textarea>
          <span id="helpBlock" class="help-block">One host per line; Same format as <code>docker -H</code></span>
        </div>
      </div>
      <div class="form-group">
        <label for="inputDockerRegistry" class="col-sm-2 control-label">Docker registry host</label>
        <div class="col-sm-10">
          <input class="form-control" id="inputDockerRegistry" name="docker_registry" value="{{ config.model.docker_registry or '' }}">
        </div>
      </div>
      <div class="form-group">
        <div class="checkbox col-sm-10  col-sm-offset-2">
          <label for="inputUseDockerRegistry">
            <input id="inputUseDockerRegistry" name="docker_use_registry" type="checkbox" {{ 'checked' if config.model.docker_use_registry else '' }}>
            Use Docker registry
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">Email</div>
    <div class="panel-body">
      <div class="form-group">
        <label for="inputMailSender" class="col-sm-2 control-label">From address</label>
        <div class="col-sm-10">
          <input class="form-control" id="inputMailSender" name="mail_default_sender" type="email" value="{{ config.model.mail_default_sender or '' }}">
        </div>
      </div>
      <div class="form-group">
        <label for="inputMailURI" class="col-sm-2 control-label">Server host</label>
        <div class="col-sm-10">
          <input class="form-control" id="inputMailURI" name="mail_host_string" value="{{ config.model.mail_host_string or '' }}">
        </div>
      </div>
      <div class="form-group">
        <label for="inputMailUsername" class="col-sm-2 control-label">Username</label>
        <div class="col-sm-4">
          <input class="form-control" id="inputMailUsername" name="mail_username" value="{{ config.model.mail_username or '' }}">
        </div>
        <label for="inputMailPassword" class="col-sm-2 control-label">Password</label>
        <div class="col-sm-4">
          <input class="form-control" id="inputMailPassword" name="mail_password" type="password" placeholder="*****">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
          <div class="checkbox">
            <label for="inputMailTLS">
              <input id="inputMailTLS" name="mail_use_tls" type="checkbox" {{ 'checked' if config.model.mail_use_tls else '' }}>
              TLS
            </label>
          </div>
          <div class="checkbox">
            <label for="inputMailSSL">
              <input id="inputMailSSL" name="mail_use_ssl" type="checkbox" {{ 'checked' if config.model.mail_use_ssl else '' }}>
              SSL
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-2">&nbsp;</div>
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Save</button>
      <a class="btn btn-default" href="/">Cancel</a>
    </div>
  </div>
</form>
<script>
  $(document).ready(function() {
    var inputDockerHosts = $('#inputDockerHosts');
    function updateDockerHostsHeight() {
      inputDockerHosts.height(inputDockerHosts.prop('scrollHeight'));
    }
    inputDockerHosts.on('keyup', function(ev) {
      updateDockerHostsHeight();
    });
    updateDockerHostsHeight();
  });
</script>
{% endblock %}
