{% extends "_base.html" %}
{% block title %}{{ job.project.name }} Job Result{% endblock %}
{% block prescript %}<script src="/static/lib/js/stomp.js"></script>{% endblock %}
{% block header %}
  <a href="/projects/{{ job.project.slug }}">{{ job.project.name }}</a> <small>{{ job.create_ts }}</small>
  <span class="pull-right" id="job-state" data-bind="if:job()">
    <job-state-glyph params="state:job().state"></job-state-glyph>
  </span>
{% endblock %}
{% block content %}
<style>
  .job-output-download:hover {
    padding-right: 20px;
  }
  .job-output-download:hover::after {
    content: ' - download tar';
  }
  .stage-panel .panel-heading {
    transition: all 1s;
    position: relative;
  }
  .stage-panel .panel-heading a {
    font-weight: bold;
    display: block;
    width: 100%;
  }
  .stage-panel .panel-contract-marker {
    position:absolute;
    top: 10px;
    right: 10px;
  }
  .stage-panel .panel-body {
    font-family: monospace;
    background-color: #eef3f3;
    color: #333;
    overflow: auto;
  }
  .stage-line-text {
    white-space: pre-wrap;
  }
  .panel-contracted .panel-body {
    display: none;
  }
  #auto-scroll {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }

  .build-stage-title {
    font-weight: bold;
  }
</style>
<!-- ko if: job() -->
{# <div class="btn-group form-group" style="position:absolute; right: 0; z-index: 10" data-toggle="buttons" data-bind="radio: currentTab">
  <label class="btn btn-default" title="Details">
    <input type="radio" name="currentTab" value="details" />
    <i class="glyphicon glyphicon-th-list"></i>
  </label>
  <label class="btn btn-default" title="Artifacts">
    <input type="radio" name="currentTab" value="artifacts" />
    <i class="glyphicon glyphicon-download-alt"></i>
    <span class="badge">{{ job.job_output_details | length }}</span>
  </label>
</div> #}
<div data-bind="visible: currentTab() === 'details'">
  <div class="form-horizontal">
    <div class="form-group" data-bind="visible:job().display_repo">
      <label class="col-sm-2 control-label">Repo</label>
      <div class="col-sm-10"><p class="form-control-static">
        <git-repo params="display_repo: job().display_repo"></git-repo>
      </p></div>
    </div>
    <div class="form-group" data-bind="visible:job().commit">
      <!-- This will update to a full hash after the git_info stage -->
      <label class="col-sm-2 control-label">Commit ref</label>
      <div class="col-sm-10"><p class="form-control-static" data-bind="text:job().commit"></p></div>
    </div>
    <div class="form-group" data-bind="visible:job().git_branch">
      <label class="col-sm-2 control-label">Branch</label>
      <div class="col-sm-10"><p class="form-control-static" data-bind="text:job().git_branch"></div>
    </div>
    <div class="form-group" data-bind="visible:job().show_author">
      <label class="col-sm-2 control-label">Author</label>
      <div class="col-sm-10"><p class="form-control-static">
        <git-user params="
            el: $element
          , name: job().git_author_name_display
          , email: job().git_author_email_display
        "></git-user>
      </p></div>
    </div>
    <div class="form-group" data-bind="visible:job().show_committer">
      <label class="col-sm-2 control-label">Committer</label>
      <div class="col-sm-10"><p class="form-control-static">
        <git-user params="
            name: job().git_committer_name
          , email: job().git_committer_email
        "></git-user>
      </p></div>
    </div>
    <div class="form-group" data-bind="visible:job().tag">
      <label class="col-sm-2 control-label">Tag</label>
      <div class="col-sm-10"><p class="form-control-static" data-bind="text:job().tag"></p></div>
    </div>
    {% if job.ancestor_job is not none %}<div class="form-group">
      <label class="col-sm-2 control-label">Previous job</label>
      <div class="col-sm-10"><p class="form-control-static">
        <a href="/projects/{{ job.project.slug }}/jobs/{{ job.ancestor_job.slug }}">{{ job.ancestor_job.slug }}</a>
      </p></div>
    </div>{% endif %}
    <div class="form-group" data-bind="visible:job().image_id">
      <label class="col-sm-2 control-label">Image ID</label>
      <div class="col-sm-10"><p class="form-control-static" data-bind="text:job().image_id"></p></div>
    </div>
    <div class="form-group" data-bind="visible:job().container_id">
      <label class="col-sm-2 control-label">Container ID</label>
      <div class="col-sm-10"><p class="form-control-static" data-bind="text:job().container_id"></p></div>
    </div>
    <div class="form-group" data-bind="visible:job().exit_code">
      <label class="col-sm-2 control-label">Exit Code</label>
      <div class="col-sm-10"><p class="form-control-static" data-bind="text:job().exit_code"></p></div>
    </div>
  </div>
</div>
{# <div data-bind="visible: currentTab() === 'artifacts'">
  <div class="form-horizontal">
    {% for name, details in job.job_output_details.items() %}
      <div class="form-group">
        <label class="col-sm-2 control-label">{{ name }}</label>
        <div class="col-sm-10"><p class="form-control-static">
          <a href="{{ details.link }}" class="job-output-download">{{ details.size }}</a>
        </p></div>
      </div>
    {% else %}
      <div class="alert alert-info">No items!</div>
    {% endfor %}
  </div>
</div> #}
<h2>Job Log</h2>
<div id="job-stages" data-bind="foreach:job().job_stage_slugs">
  <job-stage params="slug:$data, job:$parent.job"></job-stage>
</div>

<a id="auto-scroll" class="btn btn-info btn-fab" data-bind="toggle: scrollEnabled">
  <i class="glyphicon" data-bind="
    css: {
        'glyphicon-chevron-down': !scrollEnabled()
      , 'glyphicon-refresh': scrollEnabled
      , spin: scrollEnabled
    }
  "></i>
</a>

<!-- /ko -->
<!-- ko ifnot: job() -->
<loading-bar params="visible:true"></loading-bar>
<!-- /ko -->
<script>
  require([
      'jquery'
    , 'knockout'
    , 'md5'
    , 'ansi_up'
    , 'app/util'
    , 'app/models/job'

    , 'app/components/git_repo_display'
    , 'app/components/git_user'
    , 'app/components/job_stage'
    , 'app/components/job_state_glyph'
    , 'app/components/loading_bar'

    , 'knockstrap'
  ], function ($, ko, md5, ansi_up, util, JobModel) {
    $(document).ready(function() {
      function ThisPage() {
        this.currentTab = ko.observable('details')
        this.job        = ko.observable()

        this.scrollEnabled = ko.observable(false)
        this.scrollAnimation = null


        this.scrollToBottom = function() {
          if (!this.scrollEnabled()) { return }
          if (this.scrollAnimation !== null) { this.scrollAnimation.stop(true); }
          this.scrollAnimation = $("html, body").animate({
            'scrollTop': $(document).height()
          }, 100)
        }.bind(this)

        this.setupScroll = function() {
          this.job.subscribe(this.onJobSetupScroll)
          if (!util.isEmpty(this.job())) {
            this.onJobSetupScroll(this.job())
          }
        }.bind(this)
        this.onJobSetupScroll = function(job) {
          job.bus.subscribe(this.onBusSetupScroll)
          if (!util.isEmpty(job.bus())) {
            this.onBusSetupScroll(job.bus())
          }
        }.bind(this)
        this.onBusSetupScroll = function(bus) {
          bus.createQueue('_auto_scroll')
          bus.subscribe('_auto_scroll', function(message) {
            this.scrollToBottom()
          }.bind(this))
        }.bind(this)

        this.scrollEnabled.subscribe(function(newScrollEnabled) {
          this.scrollToBottom()
        }.bind(this))
        this.setupScroll()

        JobModel.from_url('/api/v1' + document.location.pathname, function(job) {
          this.job(job)
        }.bind(this))
      }

      ko.options.deferUpdates = true
      ko.applyBindings(new ThisPage())
    })
  })
</script>
{% endblock %}
