{% extends "_base.html" %}
{% block title %}{{ project.name }}{% endblock %}
{# URI.js is loading differently through require; has to be loaded before
   require is so that it loads into the root #}
{% block prescript %}<script src="/static/lib/js/URI.js"></script>{% endblock %}
{% block header %}
  <span data-bind="text:project().name"></span>
  {% if current_user.is_authenticated %}
    <span class="btn-group pull-right">
      <!-- ko component: {
        name: 'header-button',
        params: {
          icon: 'trash',
          click: deleteHandler,
          buttonType: 'danger'
        }
      } --><!-- /ko -->
      <!-- ko component: {
        name: 'header-button',
        params: {
          icon: 'edit',
          click: editHandler
        }
      } --><!-- /ko -->
      <!-- ko component: {
        name: 'header-button',
        params: {
          icon: 'play-circle',
          click: runHandler
        }
      } --><!-- /ko -->
    </span>
  {% endif %}
{% endblock %}
{% block content %}
<span class="pull-right">{{ project_shield(project) }}</span>
<div class="checkbox col-sm-5" style="margin-top: 0px"><label>
  <input id="filterStable" type="checkbox" {{ 'checked' if versioned else '' }}>Only stable releases
</label></div>
<table id="jobs-list" class="table table-striped">
  <tr><th>Created</th><th>Tag</th><th>Commit ref</th><th>Author</th><th>State</th></tr>
  {% for job in jobs.items -%}
    <tr class="job-detail">
      <td><a href="/projects/{{ project.slug }}/jobs/{{ job.slug }}">{{ job.create_ts }}</a></td>
      <td>{{ job.tag if job.tag else '' }}</td>
      <td>{{ job.commit }}</td>
      <td>{{ git_user(job.git_author_name, job.git_author_email) if job.git_author_name or job.git_author_email else ''}}</td>
      <td>{{ job_state_glyph(job.state) }}</td>
    </tr>
  {%- endfor %}
</table>
{% set versioned_str = '&versioned' if versioned else '' %}
{% if jobs.has_prev -%}
    <a href="{{ '/projects/%s?page=%d&page_size=%d%s' % (project.slug, jobs.prev_num, jobs.per_page, versioned_str) }}" class="btn btn-default btn-lg">Previous</a>
{% endif -%}
{% if jobs.has_next -%}
    <a href="{{ '/projects/%s?page=%d&page_size=%d%s' % (project.slug, jobs.next_num, jobs.per_page, versioned_str) }}" class="btn btn-default btn-lg pull-right">Next</a>
{% endif -%}
<project-edit-dialog params="
    visible: editVisible,
    title: editTitle,
    github: true,
    project: project,
    isNew: false,
    saveLabel: 'Update'
"></project-edit-dialog>
<job-run-dialog params="
      visible: runVisible
    , title: runTitle
    , project: project
"></job-run-dialog>
<project-delete-dialog params="
      visible: deleteVisible
    , title: deleteTitle
    , project: project
"></project-delete-dialog>
<script>
  // URI.js is being dumb :(
  require([
      'jquery'
    , 'knockout'
    , 'app/models/project'

    , 'app/components/header_button'
    , 'app/components/project_edit_dialog'
    , 'app/components/project_delete_dialog'
    , 'app/components/job_run_dialog'

    , 'bootstrap'
  ], function($, ko, ProjectModel) {
    $('#filterStable').change(function(ev) {
      if (ev.target.checked) {
        document.location = URI(document.location)
          .addSearch('versioned')
          .removeSearch('page_offset')
          .toString();
      } else {
        document.location = URI(document.location)
          .removeSearch('versioned')
          .removeSearch('page_offset')
          .toString();
      }
    })

    function ThisPage () {
      this.project = ko.observable(new ProjectModel({'slug': '{{ project.slug }}'}))
      this.editVisible = ko.observable(false)
      this.editTitle = ko.computed(function() {
        return "Edit " + this.project().name()
      }.bind(this))
      this.runVisible = ko.observable(false)
      this.runTitle = ko.computed(function() {
        return "Run " + this.project().name()
      }.bind(this))
      this.deleteVisible = ko.observable(false)
      this.deleteTitle = ko.computed(function() {
        return "Really delete " + this.project().name() + "?"
      }.bind(this))

      this.editHandler = function () {
        this.editVisible(true)
      }.bind(this)
      this.runHandler = function () {
        this.runVisible(true)
      }.bind(this)
      this.deleteHandler = function () {
        this.deleteVisible(true)
      }.bind(this)
      this.saveProject = function () {
        this.saving(true)
        this.project().save().always(function() { thisPage.saving(false) })
      }.bind(this)

      this.project().reload()
    }

    require(['knockstrap'], function () {
        ko.applyBindings(new ThisPage())
    })
  })
</script>
{% endblock %}
