{% extends "_base.html" %}
{% block title %}{{ project.name }}{% endblock %}
{# URI.js is loading differently through require; has to be loaded before
   require is so that it loads into the root #}
{% block prescript %}<script src="/static/lib/js/URI.js"></script>{% endblock %}
{% block header %}
  <span data-bind="text:project().name"></span>
  {% if current_user.is_authenticated() %}
    <span class="btn-group pull-right">
      <!-- ko component: {
        name: 'header-button',
        params: {
          icon: 'trash',
          click: deleteHandler,
          buttonType: 'danger'
        }
      } --><!-- /ko -->
      <!-- ko component: {
        name: 'header-button',
        params: {
          icon: 'edit',
          click: editHandler
        }
      } --><!-- /ko -->
      <!-- ko component: {
        name: 'header-button',
        params: {
          icon: 'play-circle',
          click: runHandler
        }
      } --><!-- /ko -->
    </span>
  {% endif %}
{% endblock %}
{% block content %}
<style type="text/css">
  .jobs-list-git-branch {
    overflow: hidden;
  }
</style>
<span class="pull-right">{{ project_shield(project) }}</span>
<form class="form-inline" style="margin-top: 0px; margin-bottom: 16px">
  <label class="checkbox">
    <input id="filterStable" type="checkbox" {{ 'checked' if versioned else '' }}> Only stable releases
  </label>
  <div class="btn-group" style="margin-left: 16px">
    <button class="btn dropdown-toggle" data-toggle="dropdown" href="#">
      {{ 'Showing only %s' % branch if branch is not none else 'Branch filter' }}
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      {% if branch is not none %}
        <li><a href="" data-bind="click: clearBranchFilter"><i class="glyphicon glyphicon-remove-circle">&nbsp;</i>Clear</a></li>
      {% endif %}
      {% for branch_name in distinct_branches %}
        <li><a href="" data-bind="click: setBranchFilter">{{ branch_name }}</a></li>
      {% endfor %}
    </ul>
  </div>
</form>
<table id="jobs-list" class="table table-striped">
  <tr>
    <th class="jobs-list-create-ts">Created</th>
    <th class="jobs-list-git-branch">Branch</th>
    <th class="jobs-list-tag">Tag</th>
    <th class="jobs-list-commit">Commit ref</th>
    <th class="jobs-list-author">Author</th>
    <th class="jobs-list-state">State</th>
  </tr>
  {% for job in jobs.items -%}
    <tr class="job-detail">
      <td class="jobs-list-create-ts"><a href="/projects/{{ project.slug }}/jobs/{{ job.slug }}">{{ job.create_ts }}</a></td>
      <td class="jobs-list-git-branch">{{ job.git_branch if job.git_branch else '' }}</td>
      <td class="jobs-list-tag">{{ job.tag if job.tag else '' }}</td>
      <td class="jobs-list-commit">{{ job.commit }}</td>
      <td class="jobs-list-author">{{ git_user(job.git_author_name, job.git_author_email) if job.git_author_name or job.git_author_email else ''}}</td>
      <td class="jobs-list-state">{{ job_state_glyph(job.state) }}</td>
    </tr>
  {%- endfor %}
</table>
{% set versioned_str = '&versioned' if versioned else '' %}
{% if jobs.has_prev -%}
    <a href="{{ '/projects/%s?page=%d&page_size=%d%s' % (project.slug, jobs.prev_num, jobs.per_page, versioned_str) }}" class="btn btn-default btn-lg">Previous</a>
{% endif -%}
{% if jobs.has_next -%}
    <a href="{{ '/projects/%s?page=%d&page_size=%d%s' % (project.slug, jobs.next_num, jobs.per_page, versioned_str) }}" class="btn btn-default btn-lg pull-right">Next</a>
{% endif -%}
<project-edit-dialog params="
    visible: editVisible,
    title: editTitle,
    github: true,
    project: project,
    isNew: false,
    saveLabel: 'Update'
"></project-edit-dialog>
<job-run-dialog params="
      visible: runVisible
    , title: runTitle
    , project: project
"></job-run-dialog>
<project-delete-dialog params="
      visible: deleteVisible
    , title: deleteTitle
    , project: project
"></project-delete-dialog>
<script>
  // URI.js is being dumb :(
  require([
      'jquery'
    , 'knockout'
    , 'app/models/project'

    , 'app/components/header_button'
    , 'app/components/project_edit_dialog'
    , 'app/components/project_delete_dialog'
    , 'app/components/job_run_dialog'

    , 'bootstrap'
  ], function($, ko, ProjectModel) {
    $('#filterStable').change(function(ev) {
      if (ev.target.checked) {
        document.location = URI(document.location)
          .addSearch('versioned')
          .removeSearch('page_offset')
          .toString();
      } else {
        document.location = URI(document.location)
          .removeSearch('versioned')
          .removeSearch('page_offset')
          .toString();
      }
    })

    function ThisPage () {
      this.project = ko.observable(new ProjectModel({'slug': '{{ project.slug }}'}))
      this.editVisible = ko.observable(false)
      this.editTitle = ko.computed(function() {
        return "Edit " + this.project().name()
      }.bind(this))
      this.runVisible = ko.observable(false)
      this.runTitle = ko.computed(function() {
        return "Run " + this.project().name()
      }.bind(this))
      this.deleteVisible = ko.observable(false)
      this.deleteTitle = ko.computed(function() {
        return "Really delete " + this.project().name() + "?"
      }.bind(this))

      this.editHandler = function () {
        this.editVisible(true)
      }.bind(this)
      this.runHandler = function () {
        this.runVisible(true)
      }.bind(this)
      this.deleteHandler = function () {
        this.deleteVisible(true)
      }.bind(this)
      this.saveProject = function () {
        this.saving(true)
        this.project().save().always(function() { thisPage.saving(false) })
      }.bind(this)

      this.clearBranchFilter = function () {
        document.location = URI(document.location)
          .removeSearch('branch')
          .removeSearch('page_offset')
          .toString();
      }
      this.setBranchFilter = function(self, ev) {
        document.location = URI(document.location)
          .addSearch('branch', ev.target.text)
          .removeSearch('page_offset')
          .toString();
      }

      this.project().reload()
    }

    require(['knockstrap'], function () {
        ko.applyBindings(new ThisPage())
    })
  })
</script>
{% endblock %}
