{% extends "_base.html" %}
{% block title %}Login{% endblock %}
{% block header %}Login{% endblock %}
{% block content %}
  {% if config.model.security_registerable_form %}
    {% from "forms/_macros.html" import render_field, render_field_check %}
    <form class="form-horizontal" role="form" action="{{ url_for_security('login') }}" method="POST">
      {{ login_user_form.hidden_tag() }}
      <div class="col-sm-{{ 10 if config.model.security_oauth_enabled else 12 }}">
        <div class="panel panel-default">
          <div class="panel-heading">Existing User</div>
          <div class="panel-body">
            {{ render_field(login_user_form.email) }}
            {{ render_field(login_user_form.password) }}
            {{ render_field_check(login_user_form.remember) }}
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-10 col-sm-offset-2">
            {{ login_user_form.submit(class_="btn btn-primary")|safe }}
            {{ login_user_form.next(class_="btn")|safe }}
            {% with security_menu_skip = ['login'] %}{% include "security/_menu.html" %}{% endwith %}
          </div>
        </div>
      </div>
    </form>
  {% endif %}
  {% if config.model.security_oauth_enabled %}
    <div class="col-sm-{{ 2 if config.model.security_registerable_form else 12 }}">
      <div class="panel panel-default">
        <div class="panel-heading">{{ 'Or...' if config.model.security_registerable_form else 'External User' }}</div>
        <div class="panel-body">
          {% if config.model.security_github_enabled %}
            <a class="col-sm-{{ 12 if config.model.security_registerable_form else 2 }}" href="{{ url_for('oauth_login', name='github') }}">
              <img style="width:100%" src="/static/img/octocat.svg" title="Login/Register with GitHub" />
            </a>
          {% endif %}
          {% if config.model.security_gitlab_enabled %}
            <a class="col-sm-{{ 12 if config.model.security_registerable_form else 2 }}" href="{{ url_for('oauth_login', name='gitlab') }}">
              <img style="width:100%" src="/static/img/gitlab.svg" title="Login/Register with GitLab" />
            </a>
          {% endif %}
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
