{% extends "_base.html" %}
{% block title %}{{ build.job.name }} Build Result{% endblock %}
{% block content %}
<h1><a href="/jobs/{{ build.job.slug }}">{{ build.job.name }}</a> - {{ build.timestamp }}</h1>

<div class="form-horizontal">
	<div class="form-group">
		<label class="col-sm-2 control-label">Repo</label>
		<div class="col-sm-10"><p class="form-control-static">{{ build.repo }}</p></div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label">Commit</label>
		<div class="col-sm-10"><p class="form-control-static">{{ build.commit }}</p></div>
	</div>
</div>
{% endblock %}
