{% extends "_base.html" %}
{% block title %}{{ build.job.name }} - Queue build{% endblock %}
{% block header %}{{ build.job.name }} <small>Queue build</small>{% endblock %}
{% block content %}
<form class="form-horizontal" role="form" action="/jobs/{{ build.job.slug }}/builds/new" method="POST">
  <div class="form-group">
    <label class="col-sm-2 control-label">Git Repository</label>
    <div class="col-sm-10">
      <p class="form-control-static">{{ build.job.repo }}</p>
    </div>
  </div>
  <div class="form-group">
    <label for="inputCommit" class="col-sm-2 control-label">Commit</label>
    <div class="col-sm-10">
      <input class="form-control" id="inputCommit" name="commit" placeholder="Git Commit Hash" value="{{ build.commit or '' }}">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-2">&nbsp;</div>
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Queue Build</button>
      <a class="btn btn-default" href="/jobs/{{ build.job.slug }}">Cancel</a>
    </div>
</form>
{% endblock %}
