{% extends "_base.html" %}
{% block title %}Global Configuration{% endblock %}
{% block header %}Global Configuration{% endblock %}
{% block content %}
{% if not config.model.exists() -%}
  <div class="alert alert-danger" role="alert">Persistent config file does not exist. These settings should be saved</div>
{%- endif %}
{% if config.model.restart_needed -%}
  <div class="alert alert-warning" role="alert">Settings have been changed. An application restart is required</div>
{%- endif %}
<form class="form-horizontal" role="form" action="/config" method="POST">
  <div class="form-group">
    <label for="inputDockerHost" class="col-sm-2 control-label">Docker host</label>
    <div class="col-sm-10">
      <input class="form-control" id="inputDockerHost" name="docker_host" placeholder="Name" value="{{ config.model.docker_host or '' }}">
    </div>
  </div>
  <div class="form-group">
    <label for="inputSecret" class="col-sm-2 control-label">Secret</label>
    <div class="col-sm-10">
      <input class="form-control" id="inputSecret" name="secret" value="{{ config.model.secret or '' }}">
    </div>
  </div>
  <div class="form-group">
    <label for="inputWorkers" class="col-sm-2 control-label">Workers</label>
    <div class="col-sm-10">
      <input class="form-control" id="inputWorkers" name="workers" type="number" value="{{ config.model.workers or '' }}">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-2">&nbsp;</div>
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Save</button>
      <a class="btn btn-default" href="/">Cancel</a>
    </div>
</form>
{% endblock %}
