{% extends "_base.html" %}
{% block title %}{{ job.name }}{% endblock %}
{% block header %}
	{{ job.name }}
	<span class="btn-group pull-right">
		{{ header_button('edit', '/jobs/%s/edit' % job.slug) }}
		{{ header_button('play-circle', '/jobs/%s/builds/new' % job.slug) }}
	</span>
{% endblock %}
{% block content %}

<table class="table table-striped">
	<tr><th>Timestamp</th><th>Commit</th></tr>
	{% for build in job.builds | sort(attribute='timestamp', reverse=True) %}<tr>
		<td><a href="/jobs/{{ job.slug }}/builds/{{ build.slug }}">{{ build.timestamp }}</a></td>
		<td>{{ build.commit }}</td>
	</tr>{% endfor %}
</table>

{% endblock %}
