{% extends "_base.html" %}
{% block title %}{{ job.name }}{% endblock %}
{% block header %}
	{{ job.name }}
	<a class="pull-right btn btn-default btn-lg" href="/jobs/{{ job.slug }}/edit">
		<span class="glyphicon glyphicon-edit" />
	</a>
{% endblock %}
{% block content %}

<table class="table table-striped">
	<tr><th>Timestamp</th><th>Commit</th></tr>
	{% for build in job.builds | sort(attribute='timestamp', reverse=True) %}<tr>
		<td><a href="/jobs/{{ job.slug }}/builds/{{ build.slug }}">{{ build.timestamp }}</a></td>
		<td>{{ build.commit }}</td>
	</tr>{% endfor %}
</table>

{% endblock %}
