{% extends "_base.html" %}
{% block title %}{{ job.name }} - Edit{% endblock %}
{% block header %}{{ job.name }} <small>Edit</small>{% endblock %}
{% block content %}
<form class="form-horizontal" role="form" action="/jobs/{{ job.slug }}" method="POST">
  <div class="form-group">
    <label class="col-sm-2 control-label">Slug</label>
    <div class="col-sm-10">
      <p class="form-control-static">{{ job.slug }}</p>
    </div>
  </div>
  <div class="form-group">
    <label for="inputName" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <input class="form-control" id="inputName" name="name" placeholder="Name" value="{{ job.name }}">
    </div>
  </div>
  <div class="form-group">
    <label for="inputRepo" class="col-sm-2 control-label">Git Repository</label>
    <div class="col-sm-10">
      <input class="form-control" id="inputRepo" name="repo" placeholder="https://your.repo.url" value="{{ job.repo }}">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-2">&nbsp;</div>
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Save</button>
      <a class="btn btn-default" href="/jobs/{{ job.slug }}">Cancel</a>
    </div>
</form>
{% endblock %}
